html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Slick horizontal spacing */
.slick-list {
  margin: 0 -15px;
}
.slick-slide > div {
  padding: 0 15px;
}

/* Slick dots styling */
.button__bar {
  margin: auto;
  padding: 10px;
  width: '100%';
  text-align: center;
  margin-top: 20px;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}

.button__bar li button {
  border: none;
  background: white;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
}

.button__bar .slick-active button {
  background-color: #ea4d22;
}

.button__bar li button:hover,
.button__bar li button:focus {
  background: #ea4d22;
  outline: 0;
}
